body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.form-container {
    width: 70%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #00796b;
    padding: 20px;
    color: white;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

.title h1 {
    font-size: 24px;
    color: #fff;
}

h2 {
    background-color: #004d40;
    color: white;
    padding: 10px;
    font-size: 18px;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

    input[type="radio"] {
        width: auto;
        margin-right: 10px;
    }

textarea {
    height: 100px;
}

footer {
    margin-top: 30px;
    text-align: center;
}

    footer p {
        font-weight: bold;
    }

address {
    font-style: normal;
}

.signature p {
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
}
